@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
nav {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: right;
  position: relative;
  padding: 0 15px;
  z-index: 999;
}

.nav-input {
  flex-grow: 1;
  margin: 15px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  background-color: #242424;
}

.login-button {
  margin: 15px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  background-color: #000;
  color: white; /* Ensure text is visible on the #242424 background */
  display: flex; /* Use flexbox for vertical alignment */
  align-items: center; /* Vertically center the text */
  justify-content: center;
}
.login-button:hover {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
  outline: none;
}
.login-button:active {
  box-shadow: 0 0 5px rgba(255, 8, 0, 0.89);
}

.microphone-button {
  background: none;
  border: none;
  padding: 0;
  margin-right: 5px; /* Add some spacing between the button and input */
  cursor: pointer;
  color: #242424;
  display: flex;
  align-items: center;
}

.nav-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(100vh - 60px);
  width: 100vw;
  top: 60px;
  left: 0;
  z-index: 1000;
  overflow-y: scroll;
}
.slide-in {
  animation: slideIn 0.7s ease;
}
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
ul {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul li {
  list-style: none;
  text-align: center;
}
ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
ul:hover li a {
  color: #fff;
}
ul li:hover a {
  color: #242424;
  background: transparent;
}
ul li a:before {
  font-family: "Mochiy Pop One", sans-serif;

  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}
ul li a:hover:before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}
ul li:nth-child(6n + 1) a:before {
  background: #0470fe;
}
ul li:nth-child(6n + 2) a:before {
  background: #ff7675;
}
ul li:nth-child(6n + 3) a:before {
  background: #1582fe;
}
ul li:nth-child(6n + 4) a:before {
  background: #a29bfe;
}
ul li:nth-child(6n + 5) a:before {
  background: #fd79a8;
}
ul li:nth-child(6n + 6) a:before {
  background: #ffeaa7;
}

/**HAMBURGER MENU*/
.hamburger-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.line {
  stroke: #242424;
  stroke-width: 5;
  transition: transform 0.7s ease;
}

.line-burger1 {
  transform: none; /* Reset all transforms */
  transform-origin: 50px 25px;
}

.line-burger2 {
  transform: none; /* Reset all transforms */
  transform-origin: 50px 75px;
}

.line-cross1 {
  transform-origin: 50px 25px;
  transform: translateY(25px) rotate(45deg);
}

.line-cross2 {
  transform-origin: 50px 75px;
  transform: translateY(-25px) rotate(-45deg);
}
